// Icon Sizes
// -------------------------

$icon-sizes: (
  'lg': (4 / 3),
  '2x': 2,
  '3x': 3,
  '4x': 4,
  '5x': 5
);

@each $name, $size in $icon-sizes {
  .#{$fa-css-prefix}-#{$name} {
    font-size: #{$size}em;
    line-height: (1em / $size);
    vertical-align: -($size * 0.15) + '%';
  }
}
