.hll { background-color: #ffffcc }
/*{ background: #f0f3f3; }*/
.c, .cm, .cp, .c1, .cs { color: #999; }
.err { color: #AA0000; background-color: #FFAAAA }
.k { color: #006699; }
.o { color: #555555 }
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 }
.ge { font-style: italic }
.gr { color: #FF0000 }
.gh { color: #003300; }
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 }
.go { color: #AAAAAA }
.gp { color: #000099; }
.gs { }
.gu { color: #003300; }
.gt { color: #99CC66 }
.kc, .kd, .kn, .kp, .kr, .kt { color: #006699; }
.m, .mf, .mh, .mi, .mo, .il { color: #FF6600 }
.s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: #CC3300 }
.na, .nb, .nc, .no, .nd, .ni, .ne, .nf, .nl, .nn, .nt, .nv { color: #003333 }
.ow { color: #000000; }
.w { color: #bbbbbb }

.css .o + .nt,
.css .nt + .nt { color: #999; }
